.logo {
    padding: 2px 0;
    display: inline-block;
}

@media all and (min-width: 800px) {
    .logo {
        padding: 0;
    }

    .header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}
