.navList {
    margin: 0 -8px;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.navListItem::after {
    content: "·";
}

.navListItem:last-child::after {
    display: none;
}

.navListItemLink {
    padding: 4px 8px;
    display: inline-block;
}

.navListItemLinkActive {
    color: var(--color_primary) !important;
    cursor: default;
}
