:root {
    --color_background: #191d23;
    --color_text: #FFF;
    --color_primary: #4BB462;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color_text: #F1F1F1;
        --color_background: #222529;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color_background: #FFF;
        --color_text: #222529;
    }
}

@font-face {
    font-family: "Navigo";
    src: local("Navigo Regular"),
    url(../fonts/Navigo-Regular.woff2) format("woff2"),
    url(../fonts/Navigo-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Navigo";
    src: local("Navigo Black"),
    url(../fonts/Navigo-Black.woff2) format("woff2"),
    url(../fonts/Navigo-Black.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--color_background);
    color: var(--color_text);
    font-size: 16px;
    line-height: 1.5;
    font-family: "Navigo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media all and (min-width: 400px) {
    body {
        font-size: 18px;
    }
}
