.markdown p {
    margin-top: 16px;
}

.markdown h1 {
    font-size: 28px;
    line-height: 34px;
}

.markdown h2 {
    margin-top: 32px;
}

.markdown h3 {
    margin-top: 24px;
    font-size: 18px;
}

.markdown h3 + * {
    margin-top: 0;
}

.markdown a {
    color: inherit;
}

.markdown a:hover {
    color: var(--color_primary);
}

/* TODO */
.markdown p .size_large {
    font-size: 24px;
}

.markdown p code {
    padding: 4px 16px;
    background: #231f20;
    color: white;
    border-radius: 4px;
}

.markdown table {
    margin: 16px 0;
}

.markdown img {
    margin: 16px 0;
    max-width: 100%;
}

/* TODO */
.markdown .signature p {
    font-size: 15px;
}

.markdown .idea {
    margin: 0;
    padding: 20px 25px;
    display: inline-block;
    font-size: 28px;
    line-height: 34px;
    border: 20px solid var(--color_primary);
    box-sizing: border-box;
}

.markdown iframe {
    margin: 32px 0;
    width: 100%;
    height: 250px;
}

.markdown hr {
    margin: 32px 0;
}

.markdown pre {
    margin: 32px 0;
}

.markdown blockquote {
    margin: 32px 0;
    font-size: 24px;
}

.markdown blockquote p {
    font-size: inherit;
    line-height: 1.5;
    max-width: 1150px;
}

.markdown__image-container {
    display: inline-block;
}

.markdown table {
    display: block;
    border-collapse: collapse;
    table-layout: fixed;
    width: fit-content;
    max-width: 100%;
    border:0;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.markdown thead {
    border-bottom: 1px solid var(--color_white);
}

.markdown th {
    padding-bottom: 12px;
}

.markdown tr {
    vertical-align: baseline;
}

.markdown tbody tr:first-child td {
    padding-top: 20px;
}

.markdown tbody tr td {
    padding-top: 25px;
}

.markdown th,
.markdown td {
    text-align: left;
    padding-right: 50px;
}

.markdown th {
    font-weight: bold;
}

.markdown ul {
    list-style: none;
}

.markdown ol {
    margin: 0;
    padding-left: 22px;
}

.markdown li {
    margin-top: 12px;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .markdown p {
        margin-top: 24px;
    }

    .markdown h1 {
        font-size: 36px;
        line-height: 46px;
    }

    .markdown h2 {
        margin-top: 40px;
    }

    .markdown h2 + * {
        margin-top: 16px;
    }

    .markdown h3 {
        margin-top: 40px;
    }

    .markdown table {
        margin: 24px 0;
    }

    .markdown image {
        margin: 24px 0;
    }

    /* TODO */
    .markdown image + .signature {
        margin-top: -16px;
    }

    .markdown .idea {
        margin: 24px 0;
        padding: 50px 70px;
        border-width: 30px;
    }

    .markdown iframe {
        margin: 24px 0;
        height: 450px;
    }

    .markdown hr {
        margin: 24px 0;
    }

    .markdown pre {
        margin: 24px 0;
    }

    .markdown h1,
    .markdown h2,
    .markdown h3,
    .markdown p,
    .markdown ul,
    .markdown ol,
    /* TODO */
    .markdown .idea {
        max-width: 660px;
    }

    .markdown blockquote {
        margin: 56px 0;
        font-size: 40px;
    }

    .markdown blockquote p {
        line-height: 1.4;
    }
}

@media (min-width: 1600px) {
    .markdown h1,
    .markdown h2,
    .markdown h3,
    .markdown p,
    .markdown ul,
    .markdown ol {
        max-width: 770px;
    }

    /* TODO */
    .markdown .idea {
        max-width: 1050px;
    }

    .markdown h1 {
        font-size: 55px;
        line-height: 68px;
    }
}
