.article {
    margin-bottom: 30px;
}

@media all and (min-width: 710px) {
    .article {
        margin-bottom: 60px;
    }
}

@media all and (min-width: 1024px) {
    .article {
        margin-bottom: 80px;
    }
}
