.article {
    margin-bottom: 20px;
}

.title {
    margin-bottom: 30px;
}

.date {
    margin: 0 0 30px;
    font-size: 14px;
    color: #798a96;
}

.recent {
    font-size: 16px;
}

.recentItem {
    margin-bottom: 20px;
}

.recentLink {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--color_text);
}

.recentLink:hover .recentText {
    color: var(--color_primary);
}

.recentLabel {
    margin: 0;
}

.recentText {
    margin: 0;
    display: inline;
    border-bottom: 4px solid var(--color_primary);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

@media all and (min-width: 710px) {
    .article {
        margin-bottom: 60px;
    }

    .recent {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .recentItem {
        margin-bottom: 0;
        width: 50%;
        box-sizing: border-box;
    }

    .recentItem:first-child {
        padding-right: 16px;
    }

    .recentItem:last-child {
        padding-left: 16px;
        text-align: right;
    }

    .recentLink {
        padding: 32px 0 56px;
    }
}
