.link {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
}

.article:first-child .link {
    padding-top: 0;
}

.article:last-child .link {
    padding-bottom: 0;
}

@media all and (min-width: 710px) {
    .link {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media all and (min-width: 1024px) {
    .link {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
